body {
    font-family: "DejaVu Sans Light";
}
.nav-bar {
    overflow: hidden;
    background-color: #000063;
    position: sticky;
    position: -webkit-sticky;
    height: 5em;
    top: 0;
}

.nav-bar h2 {
    float: left;
    display: block;
    color: white;
    /*text-align: center;*/
    padding: 14px 20px;
    text-decoration: none;
}

#left-NB {
    text-align: center;
    margin: auto;
    width: 15%;
    border-right: 1px solid #000063;
    padding: 1em;
    height: 100%;
    text-shadow: 0px 0px 5px black;
    font-size: 1.5em;
}

#center-NB {
    position: relative;
    text-align: center;
    margin: auto;
    width: 25%;
    border-left: 1px solid #000063;
    padding: 1em;
    height: 100%;
    background-color: #000063;
    font-size: 1.5em;
    color: white;
    -webkit-transition: color 0.5s, font-size 0.5s, padding-top 2s;
}

#center-NB:hover {
    color: #9CAAC6;
    font-size: 2em;
    padding-top: 20px;
    -webkit-transition: color 0.2s, font-size 0.4s, padding-top 1s;
}

#right-NB {
    position: relative;
    margin: auto;
    width: 15%;
    /*border: 3px solid #5A9A5;*/
    padding: 0em;
    height: 100%;
    float: right;
    right: -3.8%;
    background-color: #000063;
    box-shadow: inset 0px 0px 20px #000063;
    text-align: right;
}

.drop-down-bar {
    overflow: hidden;
    background-color: #000063;
    position: sticky;
    position: -webkit-sticky;
    height: auto;
    top: 5em;
    float: right;
    background-color: #DEE7EF;
    text-align: center;
    padding: 6px;
    z-index: 0;
    opacity: 0;
}

.profile-pos-on-screen {
    width: 40%;
    height: 85%;
    position: absolute;
    top: 100px;
    left: 30%;
    border: #9CAAC6 3px solid;
    text-align: center;
}
#profile-pic {
    position: absolute;
    top: 5%;
    left: 8%;
    width: 5em;
    height: 5em;
    border: #9CAAC6 0.2em solid;
    border-radius: 50%;
}
#profile-name {
    position: absolute;
    top: 22%;
    left: 9%;
    width: 7em;
    font-size: 1em;
    text-align: center;
}
#profile-bio {
    position: absolute;
    top: 28%;
    left: 6%;
    width: 13em;
    font-size: 1em;
    text-align: left;
}
#profile-followbar {
    top: 22%;
    left: 22%;
    width:22em;
    heigt: 2.2em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

/*Color Pallete:*/

/*#CE0000 # This is Red :)*/

/*#000063 # This is Dark Blue :)*/

/*#5A79A5 # This is Between Dark and Light Blue :)*/

/*#9CAAC6 # This is Grayish Blue :)*/

/*#DEE7EF # This is Whitish Blue :)*/