.header {
	padding: 2em;
	background-color: #9CAAC6;
	text-align: center;
	color: #EEF8FF;
	font-size: 2em;
	padding-top: 5em;
	background-image: url(http://eskipaper.com/images/dog-background-hd-1.jpg);
	background-position: 0% 20%;
	background-blend-mode: overlay;
	-webkit-transition: background-color 0.5s;
}

h1 {
	position: absolute;
	z-index: 1;
	top: 1em;
	font-size: 2em;
	color: #ffffff;
	filter: blur(0.3px);
	text-align: left;
	text-shadow: 0px 0px 0px white;
	-webkit-transition: text-shadow 1s, font-size 0.5s;
}

h1:hover {
	font-size: 2em;
	text-shadow: 0px 0px 10px white;
	-webkit-transition: text-shadow 1s, font-size 1s;
}

p {
	position: relative;
	display: block;
	text-align: left;
}

.header:hover {
	background-color: #808080;
	-webkit-transition: background-color 1s;
}

#pop {
	position: absolute;
	top: 3.45em;
	z-index: 0;
	opacity: 0;
	left: 4em;
}

.nav-bar {
	overflow: hidden;
	background-color: #000063;
	position: sticky;
	position: -webkit-sticky;
	height: 5em;
	top: 0;
}

.nav-bar h2 {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

#left-NB {
	margin: auto;
	width: 15%;
	border-right: 1px solid #000063;
	padding: 1em;
	height: 100%;
	background-color: #9CAAC6;
	box-shadow: inset 0px 0px 10px #DEE7EF;
	text-shadow: 0px 0px 5px black;
	font-size: 1.5em;
}


#center-NB {
	margin: auto;
	width: 25%;
	border-left: 1px solid #000063;
	padding: 1em;
	height: 100%;
	background-color: #000063;
	box-shadow: inset 0px 0px 10px #000063;
	font-size: 1.5em;
	-webkit-transition: background-color 0.5s;
}

#center-NB:hover {
	background-color: #0000CA;
	-webkit-transition: background-color 0.5s;
}

#right-NB {
	margin: auto;
	width: 15%;
	/*border: 3px solid #5A9A5;*/
	padding: 0em;
	height: 100%;
	float: right;
	background-color: #000063;
	box-shadow: inset 0px 0px 20px #000063;
}

#top-hr, #center-hr, #bot-hr {
	position: relative;
	width: 2em;
	/*height: 1em;*/
	top: -0.25em;
	border: 3px solid white;
	border-radius: 50px;
}

#center-hr {
	top: -0.5em;
}

#bot-hr {
	top: -0.75em;
}

.drop-down-bar {
	overflow: hidden;
	background-color: #000063;
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	top: 5em;
	float: right;
	background-color: #DEE7EF;
	text-align: center;
	padding: 6px;
	z-index: 0;
	opacity: 0;
}

	/*background-color: #9CAAC6;*/
	/*background-color: #CE0000;*/
	/*background-color: #000063;*/
	/*background-color: #5A79A5;*/
	/*background-color: #DEE7EF;*/
