#header {
	position: fixed;
	/*background-color: #9CAAC6;*/
	/*background-color: #CE0000;*/
	background-color: #000063;
	/*background-color: #5A79A5;*/
	/*background-color: #DEE7EF;*/
	height: 4em;
	color: white;
	width: 100%;
}

#Logo {

}

body {
	/*background-color: #9CAAC6;*/
	/*background-color: #CE0000;*/
	/*background-color: #000063;*/
	/*background-color: #5A79A5;*/
	/*background-color: #DEE7EF;*/
}

#imgrow {
	width: 20em;
}

#imgF {
	position: relative;
	float: right;
}

#Profile {
	position: relative;
	top: 4em;
	display: block;
	border: 2px solid black;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	padding: 10px;
}

#pfp {
	border-width: 5px;
	border-style: groove;
	border-radius: 100%;
	width: 10em;
	box-shadow: 5px 5px 10px gray;
	margin-left: 1.5em;
}

.img-cntnr {
	border: 2px solid black;
	height: 20em;
	width: 60.3em;
	margin-left: 1.5em;
}